/app/linkgame/hooks
/app/linkgame/platforms
/app/linkgame/plugins
/app/mouse/plugins
/app/mouse/hooks
/app/mouse/platforms
/app/zjb/plugins
/app/zjb/hooks
/app/zjb/platforms
/app/zjb1/plugins
/app/zjb1/hooks
/app/zjb1/platforms
